$backgroundColorOnClick: gainsboro; /* 按钮点击时通用背景色 */
$baseColorGreen: #41ba41; /* 绿色按钮通用色 */
$baseColorGreenClicked: #3aa73a; /* 绿色按钮通用色 */
$backgroundColorDialer: #f9f9f9; /* 拨号盘背景色 */
$textColorTabBar:royalblue; /* tab-bar被激活时文本显示颜色 */
$textColorDefault:#e6000000;  /* 字体默认颜色 */
$textColorDisabled:gray; /* 未激活项字体颜色 */